body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#textArea {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px; /* Set your desired font size here */
}

#newHadith,
#previousHadith {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#newHadith:hover,
#previousHadith:hover {
    background-color: #2b00ff;
}

/* Media Query for phones */
@media only screen and (max-width: 767px) {
    #textArea {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}

/* Media Query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #textArea {
        font-size: 28px; /* Adjust font size for tablets */
    }
}

/* Media Query for desktops */
@media only screen and (min-width: 1024px) {
    #textArea {
        font-size: 32px; /* Adjust font size for desktops */
    }
}
